.main-articles {
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: $main-color;
        &__h1 {
        text-align: center;
        background-color: $h1-and-footer-color;
        color: $second-text-color;
        padding: 10px;
        font-weight: 900;
        font-size: 30px;
        text-shadow: 0 0 2px black;
        border-radius: 10px 10px 0 0;
        @include mq(medium) {
            width: 100%;
            font-size: 44px;
        }
    }
    @include mq(medium) {
        display: flex;
        flex-wrap: wrap;
    }
}