.side-article {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px rgb(61, 61, 61);
    cursor: pointer;
    transition: 0.2s;

    &__img {
        width: 100%;
    }

    &__title {
        text-align: center;
        padding: 20px;
        background-color: $menu-color;
        color: $main-text-color
    }

    @include desktopHover {
        &:hover {
            transform: scale(1.1);
        }
    }

    @include mq(small) {
        width: 45%;
    }

    @include mq(large) {
        width: 28%;
        margin-bottom: 50px;
    }
}